templates/reply-echo-text.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicapp_name": {
            "type": "String"
        },
        "messaging_api_channel_id": {
            "type": "SecureString"
        },
        "messaging_api_channel_secret": {
            "type": "SecureString"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicapp_name')]",
            "location": "japaneast",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "For_each": {
                            "actions": {
                                "Reply_メッセージ送信": {
                                    "inputs": {
                                        "body": {
                                            "messages": [
                                                {
                                                    "text": "@{items('For_each')?['message']?['text']}",
                                                    "type": "text"
                                                }
                                            ],
                                            "replyToken": "@{items('For_each')?['replyToken']}"
                                        },
                                        "headers": {
                                            "Authorization": "Bearer @{body('チャネルアクセストークン発行のレスポンス（JSON）の解析')?['access_token']}",
                                            "Content-Type": "application/json"
                                        },
                                        "method": "POST",
                                        "uri": "https://api.line.me/v2/bot/message/reply"
                                    },
                                    "runAfter": {},
                                    "type": "Http"
                                }
                            },
                            "foreach": "@triggerBody()?['events']",
                            "runAfter": {
                                "チャネルアクセストークン発行のレスポンス（JSON）の解析": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "チャネルアクセストークンの発行": {
                            "inputs": {
                                "method": "POST",
                                "queries": {
                                    "client_id": "@parameters('messaging_api_channel_id')",
                                    "client_secret": "@parameters('messaging_api_channel_secret')",
                                    "grant_type": "client_credentials"
                                },
                                "uri": "https://api.line.me/v2/oauth/accessToken"
                            },
                            "runAfter": {},
                            "type": "Http"
                        },
                        "チャネルアクセストークン発行のレスポンス（JSON）の解析": {
                            "inputs": {
                                "content": "@body('チャネルアクセストークンの発行')",
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "type": "integer"
                                        },
                                        "token_type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "チャネルアクセストークンの発行": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        },
                        "応答": {
                            "inputs": {
                                "statusCode": 200
                            },
                            "kind": "Http",
                            "runAfter": {},
                            "type": "Response"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "messaging_api_channel_id": {
                            "type": "SecureString"
                        },
                        "messaging_api_channel_secret": {
                            "type": "SecureString"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "properties": {
                                        "destination": {
                                            "type": "string"
                                        },
                                        "events": {
                                            "items": {
                                                "properties": {
                                                    "message": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "text": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "mode": {
                                                        "type": "string"
                                                    },
                                                    "replyToken": {
                                                        "type": "string"
                                                    },
                                                    "source": {
                                                        "properties": {
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "userId": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "timestamp": {
                                                        "type": "integer"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "messaging_api_channel_id": {
                        "value": "[parameters ('messaging_api_channel_id') ]"
                    },
                    "messaging_api_channel_secret": {
                        "value": "[parameters ('messaging_api_channel_secret') ]"
                    }
                }
            }
        }
    ]
}